@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
#root {
    width: 100vw ;
    height: 100vh;
    overflow: hidden;
    position: relative ;
}
#canvas {
    cursor: auto;
}
#top {
    /* position: absolute; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 10px;
}
#top > .options{ 
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px; 
    border-radius: 10px;
    padding: 4px 20px; 
    box-shadow: 2px 2px 6px #E1E1E1;
    border: 2px solid #E6E6E6
}
.menu {
    background-color: #ECECF4;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.btn {
    border: transparent;
    padding: 8px 6px; 
    background-color: transparent;
    cursor: pointer;
    font-size: 16px !important;
}

.btn:hover{
    background-color: #ECECF3;
    border-radius: 4px;
}
.active {
    background-color: white;
    border-radius: 4px;
    color: #3a34eb;
}
/* .bottom{
    display: flex;
    justify-content: space-between;
} */
/* 
#bottom1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    left: 20px;
    bottom: 20px;
    gap: 20px;
    
} */
#bottom1 > .options {
    background-color: #d1d1f2;
    /* padding: 4px 10px; */
    border-radius: 5px;
    display: flex;
}

.vertical-line{
    border-left: 1px solid rgb(70, 53, 53);
    line-height: 5px;
}
.lib-option{
    gap: 20px;
    /* border-radius: 10px; */
}
.lib-btn1{
    background-color: #4a4ad8;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
div >  button> span{
    font-family: 'Arial';
    font-size: 16px;
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.lib-btn2{
    background-color: #ECECF4;
    border-radius: 10px;
    border: none;
    padding: 5px;
    /* font-family: 'Poppins', sans-serif;  */
    margin-right: 20px;
    /* font-weight: 600; */
}
#bottom{
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    left: 20px;
    bottom: 20px;
    gap: 79vw;
}
#bottom1{
    /* justify-content: space-between; */
    display: flex;
    gap: 20px;
    
}
.bootom-inside{
    gap: 10px;
}

.bootom-inside1{ 
    background-color: #ECECF3;
    border-radius: 4px;
    padding: 10px;
    color: #4a4ad8;
 }

 .bootom-inside2{ 
    background-color: #ECECF3;
    border-radius: 4px;
    padding: 10px;
 }

 @media only screen and (max-width: 760px) and (min-width: 310px) { 
    .menu{
        color: blue;
        display: none;
    }
    .lib-option{
        display: none;
    }
    .lib-btn2, .pan_tool{
        display: none;
    }
    
    

 };
